*{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

a:link
{
  color: inherit;
}

a:visited
{
  color: inherit;
}

body{margin:0; background-color: rgb(199, 5, 61)}

html,body
{
font-size:15px;
text-align: justify;
}

h1,h2,h3,h4,h5,h6
{
margin:10px 0
}

.BGtitlu
{
background-color: rgb(199, 5, 61);
height:220px;
width:100%;
}

.BGmeniu
{
background-color: rgb(140, 192, 75);
height:40px;
}

.FGdark
{
background-color: rgba(0, 0, 0, 0.2);
height:75%;
width:85%;
margin:auto;
z-index:-1;
}

.FGdarkmeniu
{
background-color: rgba(0, 0, 0, 0.2);
height:100%;
width:85%;
margin:auto;
}

.FGdarkcontent
{
background-color: rgba(0, 0, 0, 0.2);
min-height: 350px;
width: 85%;
margin: auto;
}

.topTransparent
{
background-color: rgba(0, 0, 0, 0);
height:25%;
width: 100%;
}

.bottomTransparent
{
background-color: rgba(0, 0, 0, 0);
height:60px;
width: 100%;
}

.titluImage
{
max-width: 50%;
height: auto;
}

.ttransparent
{
background-color: rgba(0, 0, 0, 0);
height:30px;
width: 100%;
overflow: hidden
}

.BGtitlu img
{
    max-height: 60%;
    height: auto;
    max-width: 40%;
    width: auto; /* ie8 */
}

.ribbonRO
{
float: right;
position: relative;
height: 35px;
top: -100px;
right:-21px;
min-width: 100px;
width: auto;
background: rgb(140, 192, 75);
-moz-box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.20);
-khtml-box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.20);
-webkit-box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.20);
z-index: 100;
}

.ribbonRO h2{
padding: 0 20px 0 20px;
color: rgb(255, 255, 255);
font: normal normal 1.5em/18px 'LeagueGothicRegular', sans-serif;
font-size-adjust: 0.55;
text-transform: uppercase;
text-align: left;
}

.triangleRO {
	position:relative;
	float:right;
	top:-65px;
	right:-120px;
	width: 0;
	height: 0;
	border-bottom: 20px solid transparent;
	border-left: 20px solid rgb(60, 85, 30);
}

.ribbonEN{
float: right;
position: relative;
height: 35px;
top: -35px;
right:-141px;
min-width: 100px;
width: auto;
background: rgb(140, 192, 75);
-moz-box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.20);
-khtml-box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.20);
-webkit-box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.20);
z-index: 100;
}

.ribbonEN:hover{
transition: 0.3s;
background-color: rgb(60, 85, 30);
}

.ribbonRO:hover{
transition:.3s;
background-color: rgb(60, 85, 30);
}

.ribbonEN h2{
padding: 0 20px 0 20px;
color: rgb(255, 255, 255);
font: normal normal 1.5em/18px 'LeagueGothicRegular', sans-serif;
font-size-adjust: 0.55;
text-transform: uppercase;
text-align: left;
}

.triangleEN {
	position:relative;
	float:right;
	top:0px;
	right:-240px;
	width: 0;
	height: 0;
	border-bottom: 20px solid transparent;
	border-left: 20px solid rgb(60, 85, 30);
}

.menuTab{
	position: relative;
	width: 14.285%;
	height: 100%;
	float: left;
	border: 1.5px solid rgb(255, 255, 255);
	font-family: "Courier New", bold;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 1em;
	text-align: center;
	line-height: 40px;
}

.menuTab:hover{
	background-color: rgb(140, 192, 75);
	position:relative;
	right:5px;
	top: 5px;
}


.menuTabSelected{
	width: 14.285%;
	height: 100%;
	float: left;
	border: 1px solid rgb(255, 255, 255);
	font-family: "Courier New", bold;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 1em;
	text-align: center;
	line-height: 40px;
	background-color: rgb(60, 85, 30);
}

.menuTabSelected:hover{
	background-color: rgb(140, 192, 75);
	position:relative;
	right:5px;
	top: 5px;
}

.ccontent{
	position:relative;
	left:30px;
	top:30px;
	right:30px;
	font: normal normal 18px 'LeagueGothicRegular', sans-serif;
}

.ccontent2{
	position:relative;
	left:50px;
	top:30px;
  right:20px;
	font: normal normal 24px 'LeagueGothicRegular', sans-serif;
	width:95%;
  padding-right: 30px;
}

.imgbox
{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  max-width: 400px;
  width: auto;
  vertical-align: top;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  align: center;
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
}

.imgbox img
{
  max-width: 100%;
  min-width: 50%;
  width: auto;
  margin-bottom: 15px;
}
